@model IEnumerable<CrudOperation.Models.tbl_Dept>


<form method="post" action="@Url.Action("Index", "Home")">
    <h2>Select a Department</h2>

    <div style="font-family:Verdana">
        <h2>Student Department List</h2>

        <!-- Use the ViewBag to populate the dropdown -->
        <label for="DepartmentSelect">Select Department:</label>
        @Html.DropDownList("DepartmentSelect", (IEnumerable<SelectListItem>)ViewBag.DepartmentList, "Select a Department", new { @class = "form-control" })

        <br /><br />

        <br />
        <a href="@Url.Action("Create", "Home")" id="submitLink" class="btn btn-primary"> Create Student Details</a>



</form>
