
@model IEnumerable<ClientSideValidation.Models.tblPerson>
@{
    ViewBag.Title = "Index";
}


<div class="container-fluid">
    <h2>People Report</h2>
    <div class="panel-body">
        <input type="button" id="btngetdata" value="Submit" class="btn-success">
        <br /><br />
        <table class="table-responsive table-hover table-bordered" style="width:90%">
            <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Person Name</th>
                    <th>Person Phone</th>
                    <th> Person Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody id="tblPerson">
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btngetdata').click(function () {
                getdta();

            })

            function getdta() {
                debugger;
                $.ajax({
                    type: 'GET',
                    url: '/Home/getAll',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'Json',
                    success: function (response) {
                        if (response.length == 0) {
                            tblPerson.append('<tr><td>No Result</td></tr>');

                        }
                        else {
                            response.Json.parse(response);
                            console.log(response);
                            var fata;
                            $.each(response, function (index, value) {
                                fata = '<tr><td>' + value.Slno + '</td><td>' + value.PersonName + '</td><td>' + value.PhoneNumber + '</td><td>' +
                                    value.PersonType + '</td></td>' + value.Details + '</td><tr>';
                                $('#tblPerson').append(fata)
                            });
                        }
                    },
                    error: function (err) {
                        console.error(err);
                    }
                });
            }
        })
    </script>
}

