
@model ClientSideValidation.Models.Online_businessEntities
@{
    ViewBag.Title = "Home Page";
}

@using(Html.BeginForm("Index","Home"))
            {
                <div>

                    </div>
            }

<input type="button" id="btnSubmit" onclick="Redirect()" value="Redirect"/>

    @section Scripts{
        <script type="text/javascript">
    function Redirect() {
        var url = "@Url.Action("Index","Default")";
        window.location.pathname = url;
    }
        </script>
        
        }