
@{
    ViewBag.Title = "SecondPage";
}

<h2>SecondPage</h2>

<div class="container">
    <ul class="list-group">
        <li class="list-group">
            <link class="list-group-item">
            Your viewBag value is <b>@ViewBag.Employeename</b>
            </li>
        <li class="list-group-item">
            Your viewData value is <b>@ViewData["Employeename"]</b>
            </li>
                <li class="list-group-item">
                    Your tempData data value is <b>@TempData["Employeename"]</b>
                    </li>
        <li class="list-group-item">
            <a href="/Test/Index"> Go to second page</a>
            </li>
                <ul>
                    </div>


